#purchaseContainer{
    margin: 10vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 90vw;
    min-height: 90vh;
    height: fit-content;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    background-color: rgba(50, 50, 50, 0.6); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
}
#detailPurchaseContainer{
    width: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 10px;
}
#paymentsContainer{
    width: 50%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 0 10px 10px 0; 
    position: relative;
    margin: 0px;
    padding: 0px;
}
#title{
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: 5%;
    font-size: xxx-large;
    color: black;
    padding: 0;
}
#titleSeparator{
    border-top: 2px solid rgb(255, 102, 0);
    width: 92%;
    margin: 20px;    
}
.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    color: rgb(40, 40, 40);
    margin-bottom: 30px;
    margin-top: 0;
    font-size: x-large;
}
.subtitleItem{
    padding: 0;
    
}
.itemList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    color: rgb(76, 76, 76);
    /* margin-bottom: auto; */
    margin-top: 0;
    font-size: large;
}
.itemDescription{
    /* margin: 15%; */
    padding: 0;
}
.PaypalButtonContainer{
        margin-top: auto;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
      
}