.dash-container {
    background-color: #0000004b;
}

.tit {
    color: #1df2f0;
}

.chart-container {
    /* Estilos para el contenedor de gráficos */
    background-color: #000000a6;
    margin: 10px auto;
    padding: 2px;
    border: 2px solid #00eeffd3;
    width: 450px;
    height: 230px;
}

.custom-margin-top {
    margin-top: 1rem; /* Cambia el valor según sea necesario */
  }
  
  .custom-margin-bottom {
    margin-bottom: 0.5rem; /* Cambia el valor según sea necesario */
  }