* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  width: 12rem;
  height: 12rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.follow{
color: #ff8c09da;
}
.footer h4{
  margin-bottom: 2rem;
}
.content {
  display: grid;
  grid-template: 1fr / 30% 40% 30%;
  right: 2%;
  gap: 1rem;
  flex-direction: row-reverse;
position: absolute;
  background-color: #242424;
  align-items: center;
  justify-content: center;
  left: 0%;
  right: 0%;
}

.column {
  display: flex;
  flex-direction: column;
}

.enlaceRedes {
  height: 30px;
  width: 30px;
  margin: 5%;
  white-space: nowrap;
  translate: 2s;
}

.enlaceRedes:hover {
  transform: scale(1.2);
}

.title {
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.title:hover {
  opacity: 3;
}

.navlink {
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 13px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(32, 197, 202);
}

.navlink:hover {
  opacity: 3;
}

.logo {
  height: 100px;
  width: 350px;
  padding-left: 5rem;
}

.box {
  margin-top: 4rem;
  grid-area: 1 / 3 / 2 / 4;
}

.icons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  gap: 0.5rem;
}

.boxNames {
  width: 100%;
  height: 100%;
  background-color: transparent;
  grid-area: 1 / 2 / 2 / 3;
  padding: 3rem;
  margin-left: 2.7rem;
}

.boxLogo {
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}

.gridContainer {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.contenedorRedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: 1rem;
}

.card {
  display: flex;
  height: 70px;
  width: 270px;
  margin: 5px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .socialLink1,
.card .socialLink2,
.card .socialLink3,
.card .socialLink4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

@media (max-width: 900px) {
  .img {
    margin-bottom: 0;
    width: 100%;
  }

  .mainConatiner {
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;    
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin-left: 0;
    text-align: center;
  }

  .boxNames {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 0;
  }

  .column {
    gap: 0.2rem;
  }

  .gridContainer {
    grid-template: repeat(3, auto) / 1fr;
    gap: 1.2rem
  }

  .boxLogo {
    padding-left: 0;
  }

  .contenedorRedes {
    width: 100%;
  }

  .title {
    margin-bottom: 0.1rem;

  }

  .boxLogo {
    margin-bottom: 0.1rem;

  }



  .card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }

    60% {
      transform: scale(0.8);
    }

    80% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

}