#HomeContainer{
    width: 100vw;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#cards{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 2em;
}
