/* FormNft.css */
.containerFormNft {
    max-width: 100vw;
    min-height: 100vh;
    margin: 3rem;
    padding: 0%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.containerMainFormNft {
  margin: 1rem;
  padding: 60px;
  background-color: #0b0b0b;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
   box-shadow: -2px -2px 12px 12px  #4d4c4bd5;
}

.navlinkProfile{
  font-size: 24px;
  margin-bottom: 20px;
  color: #111313;
}


.FormNft {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  font-weight: bold;
  margin-bottom: 1rem;
}
input,
textarea,
select {
  margin-bottom: 12px;
  padding: 10px;
  border: 1px solid #f1ebebd8;
  border-radius: 13px;
  width: 450px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(228, 228, 228, 0.788);
}

.removebuttonFormNft{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF914D;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10px;
  padding: 2px 6px; /* Ajusta el padding según tus preferencias */
  margin: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
  display:inline;
}
.removeButtonFormNft:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c3c1c1;
  border: none;
  cursor: pointer;
  font-size: 10px;
  padding: 4px 8px; /* Ajusta el padding según tus preferencias */
  margin-left: 1rem;
}


.imagepreview{
max-width: 600px;
max-height: 600px;
flex-direction: row;
display: flex;
justify-content: center;
}
.imageContainerFormNft{
  max-width: 600px;
  max-height: 700px;
  margin-top:2rem;
  }

.inputContainerFormNft{
  width:600px;
  margin:1rem
}
.nftImage {
width: 300px;
height: 300px;
margin-top:2rem;
margin-bottom:4rem;
justify-content: center;

}
.titleFormNft{
  font-size: 18px;
}

.titleTwoFormNft{
  font-size: 16px;
}
.buttonFormNft {
  align-items: center;
  justify-content:center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow:unset;
  transition-duration: .3s;
  box-shadow: 1px 1px 10px rgba(243, 226, 226, 0.301);
  background-color:rgb(226, 122, 24);
  font-weight: 600;
  padding: 0.8rem;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 2px;
  margin: 1.2rem;
}

.buttonFormNft:hover {
  background-color: #111313;

}

.buttonFormNft::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.buttonFormNft:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

.buttonFormNft:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
}

.buttonFormNft:hover {
  background-color: transparent;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}
.categoriesFormNft{
display:inline-table;
}
.optionFormNft{
  font-family: "Montserrat", sans-serif;
}


@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}
