/* FormNft.css */
.containerFormNft {
    width: 100vw;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.containerMain {
  width:600px;
  height: 700px;
  margin: 4rem;
  padding: 60px;
  background-color: #161313;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea,
select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #aa9b9bd8;
  border-radius: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow:unset;
  transition-duration: .3s;
  box-shadow: 1px 1px 10px rgba(243, 226, 226, 0.301);
  background-color:rgb(226, 122, 24);
  font-weight: 600;
  padding: 0.8rem;
  font-size: 21px;
}

button:hover {
  background-color: #0c0c0c;
}
