/* FormNft.css */
.containerFormNft {
    width: 100vw;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.containerMain {
  margin: 4rem;
  padding: 60px;
  background-color: #0b0b0b;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea,
select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #aa9b9bd8;
  border-radius: 13px;
  width: 450px;
  font-size: 16px;
}

.buttonFormNft {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow:unset;
  transition-duration: .3s;
  box-shadow: 1px 1px 10px rgba(243, 226, 226, 0.301);
  background-color:rgb(226, 122, 24);
  font-weight: 600;
  padding: 0.8rem;
  font-size: 21px;
}

.buttonFormNft:hover {
  background-color: #0c0c0c;
}
.removeButtonFormNft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF914D;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 10px;
  padding: 4px 8px; /* Ajusta el padding según tus preferencias */
  margin-left: 1rem;
}
.removeButtonFormNft:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c3c1c1;
  border: none;
  cursor: pointer;
  font-size: 10px;
  padding: 4px 8px; /* Ajusta el padding según tus preferencias */
  margin-left: 1rem;
}


.imagepreview{
max-width: 600px;
max-height: 600px;
flex-direction: row;
display: flex;
justify-content: center;
}
.imageContainerFormNft{
  max-width: 600px;
  max-height: 700px;
  margin-top:2rem;
  }

.inputContainerFormNft{
  width:600px;
  margin:1rem
}
.nftImage {
width: 300px;
height: 300px;
margin-top:2rem;
margin-bottom:4rem;
justify-content: center;

}