/* UsersView.css */
.users-view {
    padding: 20px;
    border: 1px solid #49464659;
    background-color: #9189898c;
}

.table-container {
    background-color: #1f1d1d8c;
}

.tit {
    color: #1df2f0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #dddddd56;
    color: #e7dddd;
}

th {
    background-color: #0f0f0f31;
    font-weight: bold;
    text-align: left;
}

.active-button{
    background-color: rgba(255, 0, 0, 0.8); /* Color rojo con 80% de opacidad */
    color: white;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
}
.inactive-button {
    background-color: rgba(81, 255, 0, 0.8); /* Color rojo con 80% de opacidad */
    color: white;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
}