.logo-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999; /* Asegura que el logo esté por encima de otros elementos */
    
  }
  /* .info-component {
    position: fixed;
    bottom: 100px;
    right: 20px;
    
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  } */
  
  
  .logo-image {
    width: 80px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Ajusta la altura automáticamente según el ancho */
    border-radius: 5rem;
    box-shadow: 0px 0px 10px 3px #969696;
  }
  .logo-image:hover{
   animation: myAnim 1s ease 0s 1 normal forwards;
   box-shadow: 0px 0px 10px 3px #000;
  }
  @keyframes myAnim {

	100% {
	
		transform: rotate(360deg) scale(1);
	}
}