.container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100%;
    background-color: #222424;
    transition: all 0.5s;
    font-family: var(--manrope);
    letter-spacing: 2px;
    padding: 0 .5rem;
    z-index: 10000;
    margin-top: 0;

  }
  
  .navegation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-right: 1rem;
  }
  
  .navlink {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 3px;
    font-weight: bold;
  
  }
  
  .navlink:hover {
    transform: translate(0%) scale(1.1);
  
  }
  
  .img {
    height: 4.3rem;
    margin-left: 1rem;
    margin-right: 2rem;
  }
  
  .logoutButton{
    border: none;
    background-color: none;
    background: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    font-weight: bold;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    overflow:unset;
    transition-duration: .3s;
    box-shadow: 1px 1px 10px rgba(243, 226, 226, 0.301);
    background-color:rgb(226, 122, 24);
  }
  .text {
    position: absolute;
    align-items: center;
    opacity: 100;
    color: black;
    font-size: .8em;
    font-weight: 600;
    transition-duration: .3s;
    padding: 0.8rem;
  }

  .textLogOut{
    position: absolute;
    align-items: center;
    opacity: 100;
    color: black;
    font-size: .8em;
    font-weight: 600;
    transition-duration: .3s;
    padding: 0.3rem;
  }