.containerNavBar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.7);
    transition: all 3s;
    font-family: var(--manrope);
    letter-spacing: 2px;
    padding: 2rem;
    z-index: 10000;
    margin-top: 0;
  }
  
  .navegation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-right: 1rem;
  }
  
  .navlinkNavBar {
    text-decoration: none;
    color: rgb(61, 201, 185);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    font-weight: bold;
  
  }
  
  .navlinkNavBar:hover {
    transform: translate(0%) scale(1.1);
  
  }
  
  .img {
    height: 4.3rem;
    margin-left: 3rem;
    margin-right: 2rem;
  }

  .img:hover {
    
    margin-bottom: 0;
  }
  .logoutButton,
  .btnNavBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    height: 40px;
    border-color: aqua;
    border-radius: 18px;
    cursor: pointer;
    position: relative;
    overflow:unset;
    transition-duration: .3s;
    box-shadow: 1px 1px 10px rgba(243, 226, 226, 0.301);
    background-color:rgb(226, 122, 24);

  }

  .text {
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 100;
    color: rgb(252, 247, 247);
    font-weight: 600;
    transition-duration: .3s;
    letter-spacing: 2px;
    font-size: 16px;
    padding:15%;
  }
  .textLogOut {
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 100;
    color: rgb(252, 247, 247);
    font-weight: 600;
    transition-duration: .3s;
    letter-spacing: 2px;
    font-size: 16px;
    padding:6%;
  }

  .logoutButton,.btnNavBar,.navlinkNavBar,.navlink::after {
    padding: 0.5rem;
    font-size: 16px;
    border:none;
    color: rgb(255, 255, 255);
    position: relative;
    margin: 0;
    border-radius:22px ;
  }

  .navlinkNavBar::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }

  .navlinkNavBar:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }

  .btnNavBar:hover{
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
    background-color: #070707;
    border: 3px solid rgb(0, 255, 213);
  }

  .btnNavBar:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e932bb;
  }
  .navlinkNavBar:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e932bb;
  }
  .avatarImageNavBar{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #07070748;
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
