.container {
    color: rgba(252, 250, 250, 0.534);
    margin-right: 2rem;
    display: flex;
    align-items: center;
    margin-top:1rem
}

.img {
    width: 18px;
    margin-right: 10px;
    margin-bottom: 1rem;
}